@media(min-width: $md) {
	// ===============
	// landing
	// ===============
	.landing-content {
		img {
			width: 300px;
		}
		h1 {
			font-size: 30px;
		}

		h2 {
			font-size: 20px;
		}
	}

	// ===============
	// awards
	// ===============
	.box div {
		max-width: 300px;
	}
}